{%extends 'Site/base.html'%}
{% load static %}

{% block content %}
    <body>
        <h1 class="heading">About</h1>
        <img class="main-img" src="{% static 'home-1.png' %}" style="position:absolute; top:7.5%">
        <p class="content" style="top:65%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum velit euismod in pellentesque massa placerat duis ultricies.</p>
        <p class="content" style="top:75%">Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Ultricies mi eget mauris pharetra et ultrices neque ornare aenean.</p>
        <p class="content" style="top:85%; padding-bottom:20%">Sed nisi lacus sed viverra tellus in hac habitasse platea. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. In mollis nunc sed id semper risus in hendrerit gravida. Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
    </body>
{% endblock %}