{%extends 'Site/base.html'%}

{% block content %}
<body>
    <h1 class="heading">Contact Us</h1>
    <p class="content" style="top:27.5%">We'd love to hear from you! Please fill out the form below.</p>      
    <form class="content" style="top:25%" action="/submit-contact/" method="post">
        <div class="form-group">
            <label class="label" for="name">Your Name   </label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div class="form-group">
            <label class="label" for="email">Email Address</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label class="label" for="phone">Phone Number (Optional)</label>
            <input type="tel" id="phone" name="phone">
        </div>
        
        <div class="form-group">
            <label class="label" for="subject">Subject</label>
            <input type="text" id="subject" name="subject" required>
        </div>
        
        <div class="form-group">
            <label class="label" for="message">Your Message</label> <br>
            <textarea id="message" name="message" required></textarea>
        </div>
        
        <button type="submit" class="submit-btn" style="margin-bottom:40%">Send Message</button>
    </form>
    </div>
</body>
{% endblock %}